
.__button {
	text-align: center;
	font-size: var(--button-text-size);
	padding: auto;
	width: 270px;
	height: 60px;
	background-color: var(--accent-colour);
	border-radius: 0px;
	color: var(--light-colour);
	transition: 0.5s ease-in;
	opacity: 0;
	transform: translateY(-100%);
  -webkit-animation: fade-up 1s forwards;
  animation: fade-up 1s forwards;
}

@-webkit-keyframes fade-up {
	0% {opacity: 0;}
  100% {opacity: 1;}
	0% {transform: translateY(-100%);}
  100% {transform: translateY(0);}
}

@keyframes fade-up {
	0% {opacity: 0;}
  100% {opacity: 1;}
	0% {transform: translateY(-100%);}
  100% {transform: translateY(0);}
}

.__button:hover {
	background-color: var(--light-colour);
	color: var(--accent-colour);
	transition: 0.5s ease-in;
}
/* Переопределение стилей для устройств меньше 768px */
@media screen and (max-width: 768px) {
	.__button {
		width: calc(100vw - 40%);
}
}