
.__label-name, .__label-email, .__label-message {
font-size: var(--label-text-size);
}
.__input-name, .__input-email, .__input-message {
	font-size: var(--input-text-size);
	font-weight: 100;
	background-color: transparent;
	color: var(--text-gray-color);
	padding: 15px 0;
	border-bottom: solid 1px ;
	border-color: var(--light-color);
}
.__input-name, .__input-email {
	width: 255px;
}
.__input-message {
	width: 100%;
	padding-bottom: 84px;
}

/* Переопределение стилей для устройств меньше 1440px */
@media screen and (max-width: 1440px) {
	.__input-name, .__input-email {
		width: 100%;
	}
}