
:root {
	--main-text-size: 18px;
	--button-text-size: 18px;
	--input-text-size: 21px;
	--label-text-size: 16px;
	--small-text-size: 14px;
	--contacts-text-size: 13px;
	--large-text-size: 55px;
	--mob-large-text-size: 22px;
	--h1-mob-text-size: 32px;
	--h1-text-size: 48px;
	--h2-text-size: 24px;
}