
@import url("../custom-reset.css");
/* Сброс дефолтных стилей */

@import url(../_header.css");
/* Стили шапки */

@import url("../_footer.css");
/* Стили подвала */

@import url("../_popup.css");
/* Стили popup */

@import url("../colours.css");
/* Переменные цветовой палитры элементов */

@import url("../text.css");
/* Переменные текстов */

@import url("../_buttons.css");
/* Стилизация кнопок */

@import url("../_inputs.css");
/* Стилизация инпутов */

@import url("../hero.css");
/* Стили первого экрана hero */

@import url("../services.css");
/* Стили второго экрана services */

@import url("../about.css");
/* Стили третьего экрана about */

@import url("../clients.css");
/* Стили четвертого экрана clients */

@import url("../reviews.css");
/* Стили пятого экрана reviews */

@import url("../contacts.css");
/* Стили шестого экрана contacts */

/* Основные стили */
html {
	scroll-behavior: smooth;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow-x: hidden;
}
body {
	background: var(--background-colour);
	color: var(--text-colour);
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: var(--main-text-size);
	line-height: 160%;
}
h1 {
	font-size: var(--h1-text-size);
	line-height: 138.3%;
	font-family: 'Merriweather-Bold', serif;
}

/* Обёртка контейнера */
.wrap {
	width: calc(100vw - 42.145%);
	margin: 0 auto;
}
.__subtitle {
	font-size: var(--h2-text-size);
	color: var(--text-gray-color);
	font-weight: 900;
}
.__title {
	padding-top: 40px;
	font-family: "Merriweather-Black", serif;
	font-size: var(--h1-text-size);
	font-weight: 900;
	line-height: 144.6%;
	color: var(--text-colour);
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
.__title-accent {
	color: var(--accent-colour);
}

/* Biznes Zone popup */

/* Unopened CSS Modal */
.bz-modal {
	display: flex;
	position: fixed;
	left: 0;
	top: -100%;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: top 0s .5s, opacity .5s 0s;
}
/* Opened CSS Modal */
.bz-modal:target {
	top: 0;
	opacity: 1;
	transition: none;
	z-index: 999;
}
/* CSS Modal content */
.bz-modal figure {
	width: 100%;
	min-width: 240px;
	max-width: 600px;
	position: relative;
	padding: 1.5em;
	opacity: 0;
	background-color: var(--light-colour);
	transition: opacity .5s;
}
/* Dialog modal style */
.bz-modal.dialog figure {
	background: var(--light-colour);
	border-radius: 0px;
	padding: 20px;
}
/* Dialog modal h2 style */
.bz-modal.dialog figure h2 {
	font-size: 24px;
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
/* CSS Modal content when opened */
.bz-modal:target figure {
	opacity: 1;
}
/* style for small x link inside dialog modal */
.bz-modal.dialog .bz-modalclose {
	text-decoration: none;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 40px;
}
/* veil that covers page when CSS Modal is open */
.bz-modal .veil {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: var(--dark-colour);
	-webkit-filter: opacity(0.7);
	filter: opacity(0.7);
	content: "";
	cursor: default;
	visibility: hidden;
	transition: all .5s;
}
/* veil style when CSS Modal is open */
.bz-modal:target .veil {
	visibility: visible;
}
/* / Biznes Zone popup */


/* Переопределение стилей для устройств меньше 1440px */
@media screen and (max-width: 1440px) {
	.wrap {
		width: 100%;
		padding-left:20px;
		padding-right:20px;
	}
	h1 {
		font-size: var(--h1-mob-text-size);
	}
}

/* Переопределение стилей для устройств меньше 768px */
@media screen and (max-width: 768px) {
	.__title {
		font-size: var(--h1-mob-text-size);
	}
}

/* Шрифты для заголовков */
@font-face {
		font-family: "Merriweather-Black"; 
		src: url("../fonts/Merriweather/Merriweather-Black.ttf") format("truetype"); 
		font-style: normal; 
		font-weight: 900; 
		font-display: swap;
		} 
@font-face {
		font-family: "Merriweather-Bold"; 
		src: url("../fonts/Merriweather/Merriweather-Bold.ttf") format("truetype"); 
		font-style: normal; 
		font-weight: bold; 
		font-display: swap;
		} 
