
:root {
	--background-colour: #F9F9F9;
	--text-colour: #222222;
	--text-gray-color: #BDBDBD;
	--gray-colour: #EBEBEB;
	--accent-colour: #005FA3;
	--light-colour: #fff;
	--dark-colour: #000;
}